[2018-11-26 14:14] lppedd opened #1 "Support Angular-specific files"
Is there a way to establish the "type" of file by scanning the content? This could be helpful for frameworks.
I just asked to the IDEA team, lets see how they manage to discover the file "type", but I think it's only by file name, just as you are doing now.

So for Angular Components, it would be `*.component.ts`.

[2018-11-26 19:06] lppedd commented on #1
@jonathanlermitage Yeah, i'll make a PR. I'll take the icons from VSCode if possible.
Would be interesting to understand how to recognize an Angular project. Maybe via the angular.json file?

[2018-11-26 19:42] jonathanlermitage commented on #1
I don't know, but you can try to load an Angular project, and print `psiElement` to console in [ExtraIconProvider.java:getIcon](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/blob/master/src/lermitage/intellij/extra/icons/ExtraIconProvider.java). A `psiElement` property may show "angularjs".

[2018-11-27 14:21] lppedd commented on #1
@jonathanlermitage Should look at https://github.com/JetBrains/intellij-plugins/blob/56e197a83ad776dbe736bcf006d0ddb749d413bf/AngularJS/src/org/angular2/lang/Angular2LangUtil.java

Method `isAngular2ContextDir` establishes if it is an Angular project.

[2018-12-02 16:39] lppedd opened #4 "Settings panel"
Being the amount of icons will grow over time, a setting panel is a must-have.
This is the state of my current implementation, using the same Swing style of the "Gutter Icons" one, to maintain consistency.
Groups are ordered by name (ascending).

Required changes:
- Search contributor
- `BaseIconProvider `will expose a new attribute `name` or `description`
(need to find a better name for the class

[2018-12-03 10:41] lppedd opened #6 "Icon providers should be DumbAware"
This will allow icons to be used even during the IDE initialization phase.

[2018-12-03 20:08] jonathanlermitage commented on #6
Good idea!
Done in https://github.com/jonathanlermitage/intellij-extra-icons-plugin/pull/5
commit https://github.com/jonathanlermitage/intellij-extra-icons-plugin/pull/5/commits/0ae8b6c53dafc4387f7a38e2e365c7f38d141efa

[2018-12-03 20:15] lppedd commented on #6
@jonathanlermitage Awesome! Thanks

[2018-12-03 22:11] lppedd commented on #4
@jonathanlermitage I will push the code tomorrow in a separate branch in my fork

[2018-12-04 18:14] #6 closed

[2018-12-20 19:51] lppedd commented on #1
@jonathanlermitage I noticed the yellow icon is almost invisible using the light theme. I will provide a custom dark icon for that one

[2018-12-20 19:53] lppedd commented on #4
Sorry I've been busy. Gonna finish it on saturday

[2018-12-20 20:45] jonathanlermitage commented on #4
No problem, there's no deadline :-D

[2019-03-20 17:41] jonathanlermitage commented on #4
@lppedd Could you push your code to your branch? I'd like to try to finish the Settings Panel.
Thx!

[2019-03-29 17:11] jonathanlermitage commented on #4
@lppedd could you share the code of your JTable? I have implemented settings persistence, and I'd like to reuse your work to finalize the graphical Settings Panel. Thx ;-)

[2019-03-31 18:45] jonathanlermitage commented on #4
finally, I'm doing it.

[2019-03-31 18:45] #4 closed

[2019-03-31 18:46] #1 closed

[2019-04-25 20:47] MatthiasKunnen opened #7 "[Feature request] Custom icons"
Would it be possible to allow users to add icons of their own choosing?

[2019-04-25 22:39] jonathanlermitage commented on #7
Yes, it is in the [todo / ideal for contribution list](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/blob/master/CHANGELOG.md#todo-ideas-ideal-for-contribution) ;-)

[2019-04-26 00:14] MatthiasKunnen commented on #7
ah, I didn't check the changelog :)

Perhaps you can make issues from the todos/ideas and add _help wanted_ label. That way people will find it faster using the conventional method. See https://help.github.com/en/articles/helping-new-contributors-find-your-project-with-labels.

That being said I can potentially take a look at this. Since I've yet to develop an IntelliJ plugin and I currently find

[2019-04-26 09:39] jonathanlermitage commented on #7
Good idea! I'll create issues soon.

[2019-04-26 09:42] jonathanlermitage opened #8 "Add the ability to save settings at project level"
Settings ((de)activated icons) are saved at IDE level, in `src/lermitage/intellij/extra/icons/cfg/SettingsService.java`.
Add support for project-level configuration.

[2019-04-26 09:44] jonathanlermitage opened #9 "Add an option to customize file detection patterns"
Rework icon providers and setting panel to let user modify or add new file patterns.

[2019-04-26 09:46] jonathanlermitage opened #10 "Add an option to use your own icons"
Rework settings panel and icon providers to let user choose alternative icons: PNG 16x16 + 32x32 (plugin may automatically create the 16x16 file), or SVG.

[2019-04-26 09:46] #10 closed

[2019-05-13 08:25] MatthiasKunnen opened #11 "Gradle vs Devkit"
I was looking at the [getting started page for creating IntelliJ plugins](https://www.jetbrains.org/intellij/sdk/docs/basics/getting_started.html) and it mentions two workflows, one using DevKit, and one using Gradle. Since this project does not have any Gradle files, I assume it using the old DevKit workflow.

Would it be beneficial to upgrade to using Gradle?

[2019-05-13 12:45] jonathanlermitage commented on #11
You're right: I'm using the DevKit workflow.

A Gradle build would offer benefits like:
* easy integration of online CI/build with Travis, AppVeyor...
* contributors would only have to install Gradle. With DevKit, you have to accomplish some annoying configuration steps

So, I agree: upgrading to Gradle build would be very interesting.

[2019-05-14 14:58] jonathanlermitage commented on #9
Good idea. Registered `dockerfile*` pattern (commit 352f5a0771f74e3dadfd310dfc1fea8e7721671d).

[2019-05-16 12:28] #11 closed

[2019-05-24 11:59] naubry opened #13 "Exception with version 1.5.0.183 in CLion"
Since the last update since CLion of "Extra Icons", I get this message regularly:
[code]

[2019-05-24 12:16] jonathanlermitage commented on #13
Thx for this report. I'll fix this asap.

[2019-05-24 13:13] jonathanlermitage commented on #13
I reworked some code to detect current project path, but it seems buggy.
You may also face this error:
[code]
I am reverting recent changes to make it work again. v1.5.1 will be released today.

[2019-05-24 13:27] jonathanlermitage commented on #13
Published 1.5.1: https://github.com/jonathanlermitage/intellij-extra-icons-plugin/releases/tag/v1.5.1

Could you make a try? Thx!
If it works, I'll submit this build to JetBrains Plugins Portal.

[2019-05-24 14:08] naubry commented on #13
I no longer have an error message.

[2019-05-24 14:35] jonathanlermitage commented on #13
Thx.

[2019-05-24 14:35] #13 closed

[2019-06-07 14:38] wokier opened #14 "New icon Avro .avsc file"
Please add an icon for .ascv avro schema file.
It is json based
At least reuse json icon is fine.
Thanks

[2019-06-07 14:43] jonathanlermitage commented on #14
Could you send me the PNG or SVG file?
Or should I simply use https://avro.apache.org/docs/1.8.1/images/avro-logo.png logo?
Thx.

[2019-06-07 14:47] jonathanlermitage commented on #14
Sure, I'll do this asap.

[2019-06-11 13:25] wokier commented on #14
You might use something like this one
https://upsource.jetbrains.com/idea-ce/file/idea-ce-4f9b5f89b2a19ce700b1373a465c16b28ed8ad52/platform/icons/src/fileTypes/json.svg
Maybe replacing the accolade grey color with the avro blue color
https://avro.apache.org/docs/1.8.2/images/avro-logo.png
Thanks

[2019-06-11 13:35] jonathanlermitage commented on #14
Thx,

I tried this:
![preview](https://tof.cx/images/2019/06/11/84272553138d6895de8169a80bccdf3b.png)

If you agree, I will use this version.

[2019-06-11 13:36] wokier commented on #14
Great

On Tue, 11 Jun 2019, 15:35 Jonathan Lermitage, <notifications@github.com>
wrote:

[2019-06-11 17:18] jonathanlermitage commented on #14
Done in 72f3b85cb34ad5a347a7d44ff9d984892fbebf9d

I will probably release 1.6.0 this weekend.

[2019-06-11 17:18] #14 closed

[2019-08-31 02:28] cassiuscai opened #15 "[Feature Request]Icon for R script(file.r)"
Support R Related files

[2019-08-31 14:45] jonathanlermitage commented on #15
Please send me file patterns and PNG or SVG icons.

[2019-09-09 10:21] jonathanlermitage commented on #15
@cassiuscai ?

[2019-09-15 10:14] jonathanlermitage commented on #15
Closing for inactivity.

[2019-09-15 10:14] #15 closed

[2019-10-28 15:15] acgetchell commented on #9
Would also fix AppVeyor not being detected because I'm using .appveyor.yml (which is supported) instead of appVeyor.yml.

[2019-10-28 19:17] jonathanlermitage commented on #9
Fixed in a9ff411c93a21c938770770024c52ac3943b7823. Will publish 1.13.0 release soon :-)

[2020-02-03 17:51] #8 closed

[2020-02-19 19:24] jonathanlermitage opened #22 "ClassCastException on some custom PNG icons"
Create a _User icon_ with a PNG file like https://github.com/jonathanlermitage/intellij-extra-icons-plugin/blob/master/resources/icons/bash.png

An error occurs when this _User icon_ is saved:

java.lang.ClassCastException: class sun.awt.image.ToolkitImage cannot be cast to class java.awt.image.BufferedImage (sun.awt.image.ToolkitImage and java.awt.image.BufferedImage are in module java.desktop of

[2020-02-19 19:26] #7 closed

[2020-02-20 11:35] #22 closed

[2020-02-26 08:41] artptr opened #26 "Can't open the Extra Icons settings if Angular plugin is disabled"
Extra Icons 1.20.0.183

Can't open the Extra Icons settings if Angular plugin is disabled.

[code]

[2020-02-26 08:59] jonathanlermitage commented on #26
Could you show IntelliJ version?
Can't reproduce on IJ Ultimate 2019.3.3 (IU-193.6494.35).

[2020-02-26 10:31] artptr commented on #26
WebStorm 2020.1 EAP
Build #WS-201.5616.21, built on February 19, 2020

[2020-02-26 10:48] jonathanlermitage commented on #26
Thx, reproduced on IJ 2020.1 EAP too.
It seems to be a bug with all 2020.1 EAP builds. JetBrains reworked the way they load plugins. I'll investigate asap.

[2020-02-26 16:46] jonathanlermitage commented on #26
Finally, this is not an EAP bug 😿
IJ Community is affected too. I think we have introduced a strong reference to the AngularJS plugin in a recent release. Still investigating.

[2020-02-26 17:00] Sheigutn commented on #26
@jonathanlermitage Maybe replace AngularJSIcons.Angular2 with "/icons/angular-module.svg" in https://github.com/jonathanlermitage/intellij-extra-icons-plugin/blob/master/src/lermitage/intellij/extra/icons/providers/Angular2IconProvider.java#L27. I introduced that, I assumed it would work considering the Provider wouldn't be loaded in case the plugin isn't enabled, but I guess I was wrong.

[2020-02-26 17:06] jonathanlermitage commented on #26
That's right. It works fine now. Thx!
I'll release 1.20.1 asap.

[2020-02-26 17:20] jonathanlermitage commented on #26
@artptr 1.20.1 released. Could you make a try? See plugin JAR: https://github.com/jonathanlermitage/intellij-extra-icons-plugin/releases/tag/v1.20.1

If you're okay, I'll publish this release on JetBrains Plugins portal.

[2020-02-26 17:32] jonathanlermitage opened #27 "Improve tests"
I have no experience in UI testing, so I currently made minimal unit test only (I check there's no icons duplicates).

If it is feasible, it would be cool to test plugin on IJ Community and Ultimate, and check that Swing forms (like Settings panel) work fine - even if we can't run these tests on Travis CI.
We recently introduced a [bug](https://github.com/jonathanlermitage/intellij-extra-icons-plu

[2020-02-26 18:26] Sheigutn commented on #26
@jonathanlermitage Settings work again, but the angular icon doesn't show up because you specified a wrong path, there's no file called angular2.svg unless you forgot to push it

[2020-02-26 18:33] jonathanlermitage commented on #26
My bad, the path is correct but IJ probably don't search icon in Angular plugin resources.
I should probably copy angular2.svg to project.

[2020-02-26 19:02] jonathanlermitage commented on #26
added missing icon to project, it should work now.
I uploaded a 1.20.2 build at https://github.com/jonathanlermitage/intellij-extra-icons-plugin/releases/tag/v1.20.1

[2020-02-27 09:35] artptr commented on #26
@jonathanlermitage Seems you didn't upload the 1.20.2. This last release now is 1.20.1 (caa3c91) while the icon fix is f277f98.

[2020-02-27 09:42] jonathanlermitage commented on #26
I have not push a tag yet, the 1.20.2 release is here: https://github.com/jonathanlermitage/intellij-extra-icons-plugin/releases/download/v1.20.1/ij-extra-icons-1.20.2.183.jar

[2020-02-27 10:14] artptr commented on #26
Oh, I see now. Yep, it works well. Thx for a good job!

[2020-02-27 11:55] jonathanlermitage commented on #26
Thx! Release 1.20.2 submitted to Plugins Portal.

[2020-02-27 11:55] #26 closed

[2020-02-27 21:24] naftalmm opened #28 "Extra icons are not shown in Repositories tool window"
IntelliJ IDEA lets you review the state of your project at a selected revision (more about this feature:
https://www.jetbrains.com/help/idea/investigate-changes.html#review-snapshot-at-revision)

But in the opened tool window with repository files none of the extra icons are shown

![image](https://user-images.githubusercontent.com/10289217/75487819-39690c00-59c0-11ea-8c4e-87cd4b1d60f1.png)

[2020-02-28 10:19] Sheigutn commented on #28
Unfortunately I don't think this is possible considering the FileChooserDescriptor#getIcon in RepositoryBrowserPanel doesn't call the IconProvider, only FileType.getIcon() of the FileType it finds: https://github.com/JetBrains/intellij-community/blob/master/platform/vcs-impl/src/com/intellij/openapi/vcs/impl/RepositoryBrowser.kt#L80

[2020-03-01 17:34] nvwebd opened #29 "Icons not working - WebStorm 2019.3.3"
Hey.

Would love to get some info on why / how to add the icons to the IDE.

I've tried everything and I can't get them to display on the files.

![icons](https://user-images.githubusercontent.com/10594273/75630449-1d957e00-5beb-11ea-95d2-021272b2ce48.png)
![iconsBreadcrumbs](https://user-images.githubusercontent.com/10594273/75630453-1e2e1480-5beb-11ea-8a58-d4623912b91d.png)

It's funny that the

[2020-03-01 22:31] jonathanlermitage commented on #29
Hi,

you seem to use a plugin (Material Theme?) that overrides IDE icons, and Extra Icons plugin probably has a lower priority.

[2020-03-01 22:53] nvwebd commented on #29
@jonathanlermitage You're right. Deleting the plugin and setting everything to default helped - with some restarts.

I'll try to get them to work together and post my findings.

Cheers.

[2020-03-01 22:59] #29 closed

[2020-03-14 10:28] jonathanlermitage commented on #9
new settings panel provides a way to register custom icons. Closing this issue.

[2020-03-14 10:28] #9 closed

[2020-03-15 12:46] jonathanlermitage opened #30 "IU-193+ compatibility"
![deprecation](https://tof.cx/images/2020/03/15/3d0766996f601f287dbe52fc6a217fe5.png)

[2020-03-16 06:59] Sheigutn commented on #30
Apparently there's a new method ImageUtil.createImage, but it's only available in 2019.3 and upwards, so no backwards compatibility.

[2020-03-16 11:02] #30 closed

[2020-03-16 11:05] jonathanlermitage commented on #30
finally, some non-deprecated `createImage` methods exist in IJ 183 :-)

Closing this issue.

[2020-04-23 15:35] cinan commented on #9
I simply want change typescript .ts to .tsx. I don't see how I could do that in User icons.

[2020-04-23 15:42] jonathanlermitage commented on #9
@cinan you can go to User Icons tab, then register a new File Pattern with "*.tsx" regex, and pick icon from https://github.com/jonathanlermitage/intellij-extra-icons-plugin/blob/master/resources/icons/typescript.svg

[2020-04-23 15:47] cinan commented on #9
@jonathanlermitage thanks for quick fix, but this is extremely unintuitive. What I'd imagine as an correct solution is to double click on a row in Plugin icons list and edit regexp/pattern/wildcard (similar to Preferences/Editor/File Types settings).

[2020-04-23 16:07] jonathanlermitage commented on #9
I think User Icons are a good workaround, but I totally agree with you, it would be cool to edit the Plugins icons list. I'll open a new issue. Of course, contributions are welcome :-D

[2020-04-23 16:09] jonathanlermitage opened #31 "Feat: edit icons list"
Double click on a row in Plugin icons list and edit regexp/pattern/wildcard (similar to Preferences/Editor/File Types settings).

See https://github.com/jonathanlermitage/intellij-extra-icons-plugin/issues/9#issuecomment-618476568

---

## Motivation

Extra Icons is an IntelliJ plugin that registers some icons for common files like Travis YML, Appveyor YML, etc. Evey icon is associated to a file (

[2020-04-27 14:41] volodymyr-gz opened #32 "Markdown file icons are overridden by Markdown Navigator plugin"
Markdown file icons in Project view are overridden by [Markdown Navigator Enhanced plugin](https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced).

![Screenshot 2020-04-27 at 15 27 42](https://user-images.githubusercontent.com/14126089/80383998-9be96600-88a4-11ea-85da-0a41e09c6db3.png)

Icons are still displayed properly in editor tabs:
![Screenshot 2020-04-27 at 15 28 14](https://

[2020-04-28 00:06] jonathanlermitage commented on #32
I will ask some help to JetBrains support asap. ExtraIcons icon provider has "first" order attributes, so it should work (Markdown Navigator plugin has default order).
I also tried to implement the FileIconProvider interface (in addition to IconProvider), but it doesn't help.

[2020-04-29 19:31] jonathanlermitage commented on #28
Opened issue https://youtrack.jetbrains.com/issue/IDEA-239724

[2020-04-30 16:56] jonathanlermitage commented on #28
@naftalmm @Sheigutn Good news! We should be able to customize icons by implementing `FilePathIconProvider`.
Unfortunately, this class has been introduced with IJ 2020.1, and I don't want to drop support for users who stick to IJ 2019. I think I will wait IJ 2020.2 release, then update minimal IJ version to 2020.1.

[2020-04-30 23:09] jonathanlermitage commented on #28
Implemented in [ide201](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/tree/ide201) branch. It works well, icons are overridden in VCS views (local changes, log).

[2020-05-01 09:21] naftalmm commented on #28
Awesome! Thank you!

[2020-05-03 20:13] iNoSec opened #33 "html, css, js icons"
Hi sorry if this is not related with your plugin but i retake a license on intellij idea after workong with phpstorm but it seems i never install other icon plugin. Before i have this type of icons:
![image](https://user-images.githubusercontent.com/27919673/80924768-2d684480-8d8b-11ea-9acd-c666bf8278ed.png)

but now i have this on intellij idea:
![image](https://user-images.githubusercontent.com/

[2020-05-03 20:17] #33 closed

[2020-05-04 12:21] Obiwarn opened #34 "Feature: Preset Icon Set for User Icons"
Show an example icon set to choose from on creating a new user icon. e.g. those from Atom Material Icons Plugin or similar.

I am too lazy to search for all my custom Icons :-)

[2020-05-04 12:46] Obiwarn opened #35 "User Icons Regexp needs explanation"
I couldn't get to run: a file containing "Store"

I tried all these:
/.*Store.*/
Store
.*Store.*
*Store*

[2020-05-04 15:11] jonathanlermitage commented on #35
It uses [Java regex](https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html). I think you should use `.*Store.*`.

I should probably replace "Regex to ignore..." label by "Regex (Java Pattern) to ignore...".

[2020-05-04 22:14] jonathanlermitage commented on #35
@Obiwarn I tried this, is it okay for you?

![](https://tof.cx/images/2020/05/05/6e57441ac1c98d682ae81444493aac9f.png)

[2020-05-05 08:43] Obiwarn commented on #35
Great. Thank you.

[2020-05-05 08:43] #35 closed

[2020-05-05 16:23] jonathanlermitage commented on #34
I think it would complexify the UI.

Regular users should simply download their favorite icons set and save it to a specific folder.

[2020-05-05 18:28] Obiwarn commented on #34
True, but cumbersome for most users who want to quickly add one or two more
icons.

Plus: you have to do this on every machine you sync your Webstorm settings
to (I have three for instance).

Or, at least you let the user choose from your plugin icons?

On Tue, 5 May 2020 at 18:23, Jonathan Lermitage <notifications@github.com>
wrote:

[2020-05-05 19:12] jonathanlermitage commented on #34
Someone could implement https://github.com/jonathanlermitage/intellij-extra-icons-plugin/issues/31 to let users edit the default icons list.

[2020-05-09 12:32] ghost opened #36 "No Python icon"
need Python icon, please

[2020-05-09 15:59] jonathanlermitage commented on #36
@weicheng-git Shouldn't you install Python Community plugin instead? Or use PyCharm Community IDE?

[2020-05-10 01:01] weicheng-git commented on #36
I use Ultimate IntelliJ IDEA, can't find Python icon

[2020-05-10 01:07] jonathanlermitage commented on #36
Tried IJ Ultimate + Python plugin: it shows Python icon.

![py-icon](https://user-images.githubusercontent.com/857535/81488611-509f6200-926b-11ea-99e6-754222b2bd46.png)

[2020-05-10 01:08] jonathanlermitage commented on #36
If you opened a non-Python project, you may have to open a python file first, then IDE will ask you how to open it (as a text file, etc.). After that, Python icon will be used.

[2020-05-10 01:10] weicheng-git commented on #36
thanks.

[2020-05-10 01:12] jonathanlermitage commented on #36
you're welcome :)

[2020-05-12 02:57] #34 closed

[2020-05-16 12:21] yackinn opened #37 "Add file extension"
How do set another user icon with a file extension?

*.facade.ts

The extension set to *.facade.ts won't work.

![screenshot 2020-05-16 um 14 20 56](https://user-images.githubusercontent.com/61085055/82119644-80c19600-9780-11ea-9ede-72021224d0b5.png)

Regex will work but only for extension that don't exist yet.
This works.
^.*\.facade.test$

This won't work.
^.*\.facade.ts$

[2020-05-16 17:02] yackinn commented on #37
It's atom material icons plugin that also adds icons. That plugin overwrites all plugins from extra icons. Can we change that behavior and overwrite the other plugins settings?

[2020-05-16 17:07] jonathanlermitage commented on #37
Same problem here: https://github.com/jonathanlermitage/intellij-extra-icons-plugin/issues/32

I don't know how to force Icons Providers priority.
Submitted https://youtrack.jetbrains.com/issue/IDEA-239821, waiting for assistance.

[2020-05-16 17:17] yackinn commented on #37
Thank you. I upvoted the issue.

Can you tell me what's wrong with this setting?
.spec.ts files won't show the correct icon.
The default ts icon is shown.

I've set these settings.
ts files
extensions > .ts

spec files
extensions > .spec.ts

Regex on spec also won't work. ^.*\.spec.ts$
It works on facades though. ^.*\.facade.ts$

[2020-05-16 20:38] juanmaa1414 opened #38 "[Feature Request] Get composer icons by default"
PHP devs would be enormously happy to have Composer (dependencies tool) composer.json and composer.lock icons with the shape of the little composer man logo. Can you add these please?

Thanks for the work. Cheers.

[2020-05-16 20:45] jonathanlermitage commented on #38
@juanmaa1414 Sure!
Could you suggest an SVG icon plz?

[2020-05-16 21:46] juanmaa1414 commented on #38
Well... I tried to got it by using a converter. If you cannot get it working, I would ask you to try it. Thanks!

[https://drive.google.com/open?id=1OSanZeo56NeuAF-L3ehln_-vDky48wKr](File on Google Drive)

[2020-05-16 23:22] jonathanlermitage commented on #38
Thx!

Implemented in 0ca3d461df35cd96928ba70ad242b7a99e0c5cb7

[2020-05-20 15:55] #38 closed

[2020-05-22 23:57] jonathanlermitage commented on #28
I will maintain and publish both master and ide201 branches.

[2020-05-22 23:57] #28 closed

[2020-05-23 00:02] #37 closed

[2020-06-13 21:53] #27 closed

[2020-07-24 23:12] jonathanlermitage commented on #32
Hi @volodymyr-gz, I implemented https://youtrack.jetbrains.com/issue/IDEA-239821 solution. Can you try this build?
[Extra Icons-1.32.0.183.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/4974552/Extra.Icons-1.32.0.183.zip)
Thx!

[2020-08-10 16:18] jonathanlermitage commented on #32
I may be fixed in 1.33. If not, I think the only one solution is to contact the developer of Markdown Navigator plugin in order to tweak IconProvider priority in his project.

[2020-08-10 16:18] #32 closed

[2020-09-05 19:25] mallowigi commented on #36
Reopening this because it doesn't work for me. I still get the default python icon. I'm on PyCharm Pro 2020.2.

[2020-09-05 19:33] jonathanlermitage commented on #36
@mallowigi do you see this icon? ![py-icon](https://user-images.githubusercontent.com/857535/81488611-509f6200-926b-11ea-99e6-754222b2bd46.png)

This is expected behavior, Extra Icons plugin doesn't provide icon for Python files.

[2020-09-05 19:38] mallowigi commented on #36
Yes, but I added my own icon with regex .`*\.py`

It works only for tabs, not editorView.

[2020-09-05 19:50] jonathanlermitage commented on #36
This is a new bug. Can you open a dedicated issue please?
Thx!

[2020-09-05 19:56] mallowigi commented on #36
To be honest it's a JetBrains SDK issue. Apparently in the PyCharm SDK when they implemented the Python PSI nodes, they made it so that the PythonPsiFile provides their own icons, and so IconProvider doesn't run for such nodes. It's the same thing with Java Classes/Interfaces/Enums/etc icons.

That means that non-Pycharm IDEs will see the icon just like they defined. But PyCharm or IDEs with the P

[2020-09-05 20:05] jonathanlermitage commented on #36
Thx for these details. I think we can open a issue on JetBrains Youtrack.

Also, I can add Python icon to Extra Icons plugin. Something like this? https://seeklogo.com/vector-logo/273830/python

[2020-09-13 09:42] kreuzerkrieg opened #39 "Exception in plugin Extra Icons"
Latest CLion under Ubuntu 20.4

[2020-09-13 14:07] jonathanlermitage commented on #39
Thx. I was able to reproduce this error during integration tests, not with an actual IDE.
Since you reproduced it with CLion, I will fix this issue.

Plugin tries to (re)load icons in a project that is being closed or is already closed. Up to IJ 2020.1, I fetched the list of opened projects to reload icons, but since IJ 2020.2 the API seems to return some closed project too.
I will simply catch an

[2020-10-17 01:23] jonathanlermitage opened #40 "TransactionGuardImpl - Write-unsafe context when invoking FileChooser.chooseFiles"
`lermitage.intellij.extra.icons.cfg.dialogs.ModelDialog:loadCustomIcon()` invokes `FileChooser.chooseFiles` to choose a custom PNG/SVG icon file, but IDE's `TransactionGuard` complains about Write-unsafe context.
Plugin still works, chosen file is selected, but user will see an annoying error notification.

To reproduce this error, open IJ settings, Extra Icons config panel, User Icons, add an ite

[2020-11-02 11:14] kreuzerkrieg commented on #39
Looks like it is back again

[2020-11-03 11:47] kreuzerkrieg commented on #39
Just pulled a new version. Looks like the issue gone...

[2020-11-23 03:02] amstiel opened #41 "User icons location"
Where plugin stores "User icons" settings? Is there any possibility to share/backup my "User icons"? Or even import "User icons" json/xml file, not icon by icon.
After last update my settings with user icons were reset to default, just want to avoid it in future 🙃.

P.S. Thanks for the plugin.

[2020-11-23 22:22] jonathanlermitage commented on #41
Thx @amstiel!

Settings are stored in IDE's config folder (in `config/options/lermitage-extra-icons.xml`).
While exporting IDE settings, you should see a `ExtraIconsSettings` checkbox:
![extraicons-settings-export](https://user-images.githubusercontent.com/857535/100021475-d5a23100-2de1-11eb-8ced-5f4db75744dd.png)
To find IDE's config folder, please see https://intellij-support.jetbrains.com/hc/en

[2020-11-24 08:01] amstiel commented on #41
Thx for answer!

So, any plans for ability to import "User icons" file in some way?

[2020-11-25 00:22] jonathanlermitage commented on #41
If you asked to include `ExtraIconsSettings` while exporting IDE settings to a ZIP file, it will export every Extra Icons settings: UI scale, ignore list, the list of deactivated icons, and the list of User icons.
You can use this file to import your settings in an IDE.

[2020-11-25 02:04] amstiel commented on #41
Thanks again for the answers.

I think we can close the issue now.

[2020-11-25 08:54] thunderhook opened #42 "IntelliJ Fatal error"
Does not seem to be critical. IntelliJ IDEA 2020.2.3 (Ultimate) with extra icons 1.40.0.201

[code]

[2020-11-25 21:37] jonathanlermitage commented on #41
You're welcome :-)

[2020-11-25 21:37] #41 closed

[2020-12-02 00:15] jonathanlermitage commented on #42
@thunderhook did it happened while using the Search field in IDE Settings?

IntelliJ now allows plugins to be indexed and included in search results, but it seems to be a bit buggy. I am facing some (non-critical too) errors during compilation.
If it's an issue with the Search engine, I will submit an issue to IJ Youtrack, and simply disable Index creation for this plugin.

[2020-12-11 17:57] paynekw opened #43 "IDEConfigurableProvider has been compiled by a more recent version of the Java Runtime"
Running `Android Studio 3.6.3` and `4.x` side-by-side, Extra Icons work in `3.6.3` but not in `4.1.1`.

I'm using latest `OpenJDK (15.0.1)` and latest `JRE (8, update 271)`.

The `4.x` IDE reports the following:

[code]

[2020-12-11 23:49] jonathanlermitage commented on #43
I forgot that some IDE are still running on JRE8 :-p
I will restore Java 8 compatibility with 1.42 release.

[2020-12-13 01:22] jonathanlermitage commented on #43
v1.42 published. Can you make a try @paynekw? Thx!

[2020-12-13 12:37] paynekw commented on #43
Perfect, thank you!

[2020-12-13 12:37] #43 closed

[2021-01-31 18:18] jonathanlermitage commented on #42
closed for inactivity

[2021-01-31 18:18] #42 closed

[2021-02-07 15:13] techiemac opened #44 "Upgrading ExtraIcons removes project specific user icons"
I'm currently using goland and every time I upgrade extra icons, I notice the all of my project specific User Icons are blown away and the Override IDE settings was no longer checked.

This only appears to happen on upgrade

[2021-02-07 16:01] jonathanlermitage commented on #44
Thx for this report. It may be related to https://github.com/jonathanlermitage/intellij-extra-icons-plugin/issues/41, but this time this is definitively a bug.
I will look at this.
Can you post your Goland IDE version (Help -> About -> the copy/past icon) ? Thx!

[2021-02-07 16:20] jonathanlermitage commented on #44
Reproduced, and maybe fixed. It seems to be a bug with "[dynamic plugins](https://plugins.jetbrains.com/docs/intellij/dynamic-plugins.html?from=jetbrains.org)".
Extra Icons should be upgradable without restart, and there is no major issue, except the bug you're facing :-D
I tried to build a new release that forces IDE to restart to install plugin, and I did not loose the "Override IDE settings" se

[2021-02-07 16:34] techiemac commented on #44
Sorry for the delay. Another datapoint, I am running on a mac. But here is the copypasta from my version info.
[code]

[2021-02-07 16:36] jonathanlermitage commented on #44
No problem :-)
Thx, I will check on a similar configuration.

[2021-02-09 23:24] Spurlos commented on #39
issue is back on latest **PHPStorm 2020.3.2** with plugin version **1.46.0.201**
[code]

[2021-02-10 01:04] jonathanlermitage commented on #39
It's weird, this error is simply catched and logged at "debug" level.
@Spurlos do you see this error in your IDE (I don't know how to name this: the red icon in the bottom-right corner)?
If you see this error in your IDE, I will open a ticket in JetBrains bug tracker. I have no idea why this error occurs, and how to fix it :sob:

[2021-02-10 01:07] Spurlos commented on #39
Yep, this stack trace appeared in the errors window, that popups up from the mentioned red icon.

[2021-02-10 01:48] jonathanlermitage commented on #39
Thx @Spurlos

Opened https://youtrack.jetbrains.com/issue/MP-3389

Also, I reintroduced a code that checks if project is disposed. I am not confident, it will probably do nothing, but can you make a try? Thx!
Please see attached plugin file:
[Extra Icons-1.46.0.201.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/5955388/Extra.Icons-1.46.0.201.zip)

[2021-02-10 01:54] jonathanlermitage commented on #44
Reproduced on a Mac, and it's fixed for me with 1.46 release. Does it work for you @techiemac?

[2021-02-10 19:29] jonathanlermitage commented on #39
Finally, found why these exceptions an thrown. See https://youtrack.jetbrains.com/issue/MP-3389#focus=Comments-27-4683999.0-0
IntelliJ logs a message at "error" level:
[code]
Even if there is no exception, the logger creates an error badge for every error message.
I have to find where this code is invoked, and add some check to avoid this logging.

[2021-02-10 19:40] kreuzerkrieg commented on #39
Just came to write here "Hallelujah!" and then I saw you reopened it again :(

[2021-02-10 19:41] jonathanlermitage commented on #39
Added more chekcs. @Spurlos Can you make a try with this build? [Extra Icons-1.46.0.201.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/5961032/Extra.Icons-1.46.0.201.zip)
thx!

[2021-02-10 19:42] jonathanlermitage commented on #39
haha yeah, github closed the issue because my commit message were mentioning this issue XD

[2021-02-10 19:50] Spurlos commented on #39
Installed. Will reply if something popups

[2021-02-11 01:37] jonathanlermitage commented on #40
Finally fixed this issue :joy::joy:
Will publish 1.46.1 release soon.

[2021-02-11 01:37] #40 closed

[2021-02-14 01:13] techiemac commented on #44
Sorry for the delay (again) in getting back to you. Yes! It works! Thanks for the quick fix.

[2021-02-14 16:13] jonathanlermitage commented on #44
No problem :-)
Thx for your feedback!
Will publish a new release soon.

[2021-02-14 16:13] #44 closed

[2021-02-17 10:22] kreuzerkrieg commented on #39
Yesterday CLion said it has an update for this plugin. Installed it right away and since then it looks like the issue has gone.

[2021-02-17 21:05] jonathanlermitage commented on #39
Thx!

Will re-open if error occurs gain.

[2021-02-17 21:05] #39 closed

[2021-03-12 14:02] ahus1 opened #47 "NoSuchFileException: Problem after dynamic update?"
One of the users of the AsciiDoc plugin I maintain reported the following exception: a missing JAR file for the Extra Icons plugin.

Can this be due to a dynamically updated plugin Extra Icons plugin? Maybe the plugin update was incomplete/waiting for a restart, or some bundles were still pointing to the old file?

Unfortunately the user didn't provide additional information and stayed anonymous.

[2021-03-14 00:24] jonathanlermitage commented on #47
Yeah, unfortunately I would need more information.
Dynamic update of Extra Icons has been disabled in 1.46 release: user has to restart the IDE to complete the update. Also, the plugin path seems good. Maybe an IntelliJ bug :-p

[2021-03-14 00:57] jonathanlermitage commented on #47
@ahus1 Actually, it could be a problem with JetBrains Toolbox: it installs your IDE in a specific path, like `***/.local/share/JetBrains/Toolbox/apps/...`. Here, the user started IntelliJ 203 (2020.3), you can see `.../IDEA-U/ch-0/203.7148.57.plugins/` in the plugin path.
When the Toolbox upgrade the IDE itself, per example from `203.7148.57` to `203.7717.45` (the latest version), the IDE shortcut

[2021-03-14 13:46] ahus1 commented on #47
Alright; if you think there is nothing else to do here, please feel free to close this issue.

[2021-03-14 14:39] #47 closed

[2021-04-25 20:12] hadnet opened #54 "support new icons: please provide icon for TSX file(s) and filename patterns."

[2021-04-25 21:11] jonathanlermitage commented on #54
@hadnet my knowledge of TSX is close to zero ^_^. Could you suggest an icon? Should we reuse the TS icon?

[2021-04-25 22:28] hadnet commented on #54
@jonathanlermitage TSX is the TS+React version. No because they are different syntax. I'm using this svg icon I made and it's use for .jsx files as well but color is a little lighter (the React blue) than mine (I'm using the TS blue color):

[code]

[2021-04-26 08:49] sklawren opened #55 "Storybook icon missing for mdx"
Storybook allows you to write stories using mdx, but there isn't a match for ***.stories.mdx** files in the Storybook icon regex.

[2021-04-27 07:39] jonathanlermitage commented on #55
Thx for this information @sklawren !
I will add support for ***.stories.mdx** in the upcoming 1.52 release.

[2021-05-01 01:40] jonathanlermitage commented on #54
Thx! Support added. Will release 1.52 soon.

[2021-05-01 01:40] #54 closed

[2021-05-01 01:50] jonathanlermitage commented on #55
Integrated into 1.52. Will publish a release soon.

[2021-05-01 01:50] #55 closed

[2021-05-08 16:30] jonathanlermitage opened #57 "Improve rendering of custom icons"
SVG and PNG custom icons rendering is no optimal (scaling makes images pixelated). See how hdpi icons are rendered by IntelliJ when they are loaded from (IJ or plugin) resources, and do the same thing for custom icons.
This issue affects the [IconViewer 2](https://github.com/jonathanlermitage/IconViewer) plugin too. So, if Extra Icons is too complex, we can work on IconViewer 2 (they share the sam

[2021-05-18 10:56] matan129 commented on #44
Does this mean that the plugin is now non-dynamic?
If so, are there any plans to bring it back to being dynamic?

[2021-05-18 21:07] jonathanlermitage commented on #44
@matan129 yes, the plugin is not dynamic. It could be dynamic again, the [documentation](https://plugins.jetbrains.com/docs/intellij/dynamic-plugins.html#mark-extension-points-as-dynamic) says it should work, but JetBrains may have to fix some bugs first.
Please look at [opened bugs](https://youtrack.jetbrains.com/issues/IDEA?q=%23dynamic-plugins%20&_ga=2.71320401.376261401.1620941271-1763171118.1

[2021-05-20 09:00] kubijo commented on #54
I think this change might have inadvertently overwritten the icon for tests ...  that is `(.*?\.)?spec.tsx` now have the TSX icon instead of the previously applied flask icon.

![image](https://user-images.githubusercontent.com/11244314/118950388-740aeb80-b95a-11eb-9647-8aaa3dabc9cc.png)
![image](https://user-images.githubusercontent.com/11244314/118950564-9866c800-b95a-11eb-8f3b-d00f39c3d29c.png)

[2021-05-21 23:41] jonathanlermitage commented on #54
Good catch!
Fixed. Will publish 1.55 release soon.

[2021-06-23 21:37] developerguchan opened #58 "Changing icons with folder"
I can't change icons with folder of svg files named html,css etc. how i can do this instead of changing icons one by one in settings?

[2021-06-23 21:55] jonathanlermitage commented on #58
If my understanding is correct, you would like to change the icon of a folder containing specific files?
Unfortunately, this is not supported, but it could be an improvement:
- select a folder and an icon
- type a regex
- if the files in the folder match the regex, change the folder's icon

[2021-06-23 23:08] developerguchan opened #59 "General Rule"
Hi, I want to create general rule, for example all directories should have this icon, if there is no specific icon. is it possible?

[2021-06-23 23:22] jonathanlermitage commented on #59
I think this is not possible with this plugin. It knows when the plugin defines a custom icon for a folder, but it can't detect the fact that a folder is using the default icon provided by IntelliJ (the gray folder icon).

You can probably create a Theme plugin for that:
* clone or fork this repository: https://github.com/jonathanlermitage/intellij-extra-toolwindow-colorful-icons
* edit this file:

[2021-06-23 23:51] developerguchan commented on #59
Thank you but I don't know how to build it. after i change icons how can i build

[2021-06-24 00:11] jonathanlermitage commented on #59
You should install a JDK (8 or 11; 16 may work too) and Gradle (any recent version), then run the command-line instruction: `./gradlew buildPlugin`.
You can also open the project with IntelliJ: it bundles a Gradle distribution, and it can download a JDK for you.

[2021-06-26 18:06] #59 closed

[2021-06-26 18:06] #58 closed

[2021-06-27 13:23] #31 closed

[2021-07-01 15:24] jonathanlermitage commented on #57
Found a solution :-). Will publish a fix soon.

[2021-07-01 15:42] #57 closed

[2021-07-05 03:09] centralhardware opened #60 "add icon for dll extension"

[2021-07-05 22:57] jonathanlermitage commented on #60
Sure. @centralhardware could you provide or suggest an PNG or SVG icon?
Do you think we can reuse the "binary" icon? -> https://github.com/jonathanlermitage/intellij-extra-icons-plugin/blob/ide203/src/main/resources/extra-icons/binary.svg

[2021-07-09 06:36] Florianisme opened #61 "Different Dockerfiles with prefix not supported"
It is common when dealing with multiple Dockerfiles to prefix the name of the files with their purpose, eg:

dev.Dockerfile
integration.Dockerfile

It would be nice if these Files would be recognized aswell and have the Docker Icon applied to them.

[2021-07-10 00:22] jonathanlermitage commented on #61
Good idea!
I will implement this in next release.

[2021-07-10 14:09] centralhardware commented on #60
I think this is acceptable

 I like this icon https://github.com/jonathanlermitage/intellij-extra-icons-plugin/blob/ide203/src/main/resources/extra-icons/binary_alt.svg

[2021-07-11 19:35] jonathanlermitage commented on #60
OK, I will include this in next release (1.58) :-)

[2021-07-17 17:40] #61 closed

[2021-07-17 17:40] #60 closed

[2021-07-28 05:02] centralhardware opened #62 "add support for .jasper extension"
In the near future I will try to find an icon for this extension.

[2021-07-28 05:08] centralhardware opened #63 "add support for .pck extension"

[2021-07-30 09:53] jonathanlermitage commented on #63
Can you please suggest a icon and add some description, like the program name? I never worked with `pck` files. Thx!

[2021-08-17 12:46] bazzik opened #64 "Ability to reuse bundled icon when creating user rule"
**I would like to be able to reuse the existing/bundled icon instead of providing my own.**

An example:
- I have maybe like 20 bundled rules enabled only (disabled the rest: less regex checks on files).
- I want to have a rule for `robots.txt` file.
- I do not have any suitable icons for such file so I thought I will reuse existing one that I do not use (e.g. from Robot Framework rule). Sadly I c

[2021-08-18 12:40] mongolyy opened #65 "Change rules for storybook"
Is it possible to change the rule for storybook file names to make the beginning optional?
I have a component called `LendingHistories.tsx` in my project, but I'm having trouble with it being recognized as a storybook under the current rules.

https://github.com/jonathanlermitage/intellij-extra-icons-plugin/pull/53#issuecomment-832041984
In order to meet @kubijo 's requirements, I think we just ne

[2021-08-18 22:02] jonathanlermitage commented on #65
Sure, we can associate `*.tsx` and `*.jsx` files to Storybook files. These extensions are already associated to React + Typescript, but users will simply deactivate the unwanted association :-)

[2021-08-21 12:27] #65 closed

[2021-08-27 10:32] bazzik opened #66 "Display custom file icons in Remote Host panel"
This plugin shows custom file icons in Project View panel as well as Favorites.

What about Remote Host (when browsing the deployment target over FTP/SFTP/FTPS)? Can this be done there as well?

-----

Here are a few screenshots. Files in question: `.editorconfig` and `readme.md`

Local / Project View panel:
![image](https://user-images.githubusercontent.com/1482298/131113470-cdd79feb-b51f-456d-97

[2021-08-28 00:16] jonathanlermitage commented on #66
Yeah, good idea. JetBrains support helped me to show icons in the VCS view, but I don't know if we can do something for he Remote Host view. Actually, It's all about icons "providers": `FileIconProvider` handles Project and Favorites view, `FilePathIconProvider` handles VCS view, and I guess there is a provider for the Remote Hos view :-D
I will investigate.

[2021-08-28 00:25] jonathanlermitage commented on #63
@centralhardware any news ;-)

[2021-08-28 00:25] jonathanlermitage commented on #62
@centralhardware any news? ;-)

[2021-08-28 23:28] jonathanlermitage commented on #64
Dev is almost done. Will be included in upcoming release.

[2021-08-29 00:09] #64 closed

[2021-08-29 22:23] intellitour opened #67 "Possible Infinite Recursion"
IDEA just warned me of this:

[code]

[2021-08-29 23:27] jonathanlermitage commented on #67
This is weird, the ExtraIcons plugin doesn't override Fremarker icons, we should not see BaseIconProvider in the stacktrace.
Did you add a user rule to override Freemarker icons?

Otherwise, this is a false-positive alert :-D

[2021-08-30 00:17] intellitour commented on #67
I found it weird as well... this is a fresh install of IDEA and the plugin
on a fresh OS install. I'll open another issue should this happen again.

Em dom., 29 de ago. de 2021 às 20:27, Jonathan Lermitage <
***@***.***> escreveu:

[2021-09-08 12:10] AlexPl292 opened #68 "Performance optimization"
Hi, thank you for the great plugin!
I have a large project with a lot of modules and opened branches of the tries. Also, this project has a lot of facets. I've noticed that I see a pretty visible glitches in the project tree. After a small (and not really deep) investigation, I've found that you're collecting all the facts of all the modules on each icon resolution. That seems not very effective a

[2021-09-08 13:01] jonathanlermitage commented on #68
Thx!
Excellent idea, I will implement these improvements.

[2021-09-08 21:04] jonathanlermitage commented on #68
It should be fixed now. Can you please make a try with attached plugin file? Thx! @AlexPl292
[Extra Icons-1.61.0.203.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/7131797/Extra.Icons-1.61.0.203.zip)

[2021-09-08 23:24] #63 closed

[2021-09-08 23:24] #62 closed

[2021-09-09 06:52] AlexPl292 commented on #68
Oh, yeah, this seems to be better. I still see some glitches, but they seem to be a platform issue (since it's reproduced with the disabled plugin). Anyway, YourKit shows a nice improvement :)
Also, in case you're looking for the way of this cache invalidation, `com.intellij.facet.ProjectFacetListener` should help you.

Thank you for the update!

[2021-09-09 11:03] sklawren opened #69 "Incorrect Storybook extension regex"
Your storybook icon regex is `*.tsx` and `*.jsx`. This causes all files use the Storybook icon including React components. These should be removed.

Only stories should use the Storybook icon. React components should still use the React icon.

You already have two other rules in the set for this which could actually become one rule.

`*.stories.mdx` and `*.stor(y|ies).(js|jsx|ts|tsx)`

You can mak

[2021-09-09 11:27] jonathanlermitage commented on #69
I associated tsx an jsx files to Rect and Storybook, according to https://github.com/jonathanlermitage/intellij-extra-icons-plugin/issues/65
You can simply deactivate the tsx and jsx <-> Storybook associations, then these files will be associated to React.

[2021-09-09 11:33] jonathanlermitage commented on #69
I could probably rework how priorities works in a future update, because React is probably more popular than Storybook.

[2021-09-09 11:35] jonathanlermitage commented on #69
Otherwise, @mongolyy do you think we should associate Storybook files to `*.stor(y|ies).(js|jsx|ts|tsx|mdx)` only?
If you are ok with that guys, I will revert https://github.com/jonathanlermitage/intellij-extra-icons-plugin/issues/65 and apply @sklawren 's suggetion.

[2021-09-09 11:47] jonathanlermitage commented on #68
Thx!

[2021-09-09 11:47] #68 closed

[2021-09-09 14:05] mongolyy commented on #69
@jonathanlermitage
Thanks for the mention.

Yes! I think we should associate Storybook files to `*.stor(y|ies).(js|jsx|ts|tsx|mdx)` only.

[2021-09-10 20:50] #69 closed

[2021-09-13 20:10] TrumanRu opened #70 "Icons for NestJS"
File patterns are:
*.module.ts
*.controller.ts
*.service.ts
*.guard.ts
*.interceptor.ts
*.filter.ts
*.decorator.ts
*.adapter.ts
*.gateway.ts
*.pipe.ts

Look at [https://github.com/vscode-icons/vscode-icons/wiki/ListOfFiles](https://github.com/vscode-icons/vscode-icons/wiki/ListOfFiles) for examples.

Some of them could have unit tests with appropriate names such as `some-file.controller.spec.ts`,

[2021-09-27 02:27] luke-denton-aligent opened #71 "Storybook icon is matching too much"
Currently the storybook icon pattern is `".*stor(y|ies)\\.(js|jsx|ts|tsx|mdx)$"`, which will match, for example, `history.js`.

The pattern needs to be updated to place an escaped full stop directory before the `s`, so `".*\\.stor(y|ies)\\.(js|jsx|ts|tsx|mdx)$"`

[2021-09-27 20:06] #71 closed

[2021-10-15 06:36] IWareQ opened #73 "com.intellij.openapi.util.StackOverflowPreventedException"
Error: https://pastebin.com/WuXNGZAP

[2021-10-15 08:37] TrumanRu commented on #70
Do you need the new issue? :wink:

[2021-10-16 19:40] jonathanlermitage commented on #70
thx! No problem, and thx for the information. I will register these 3 patterns soon.

[2021-10-16 19:43] jonathanlermitage commented on #73
Did you seen only a warning in the IDE, or is something broken?
If you see only a warning in the status bar, this is a false-positive error. This issue is annoying, I will open an issue on [Youtrack](https://youtrack.jetbrains.com/issues/idea) asap.

[2021-10-16 19:45] jonathanlermitage commented on #73
@IWareQ also, can you please copy/paste your IDE info (IDE version and the list of plugins)? Help -> About -> Copy. Thx!

[2021-10-19 04:43] IWareQ commented on #73
`IntelliJ IDEA 2021.2.3 (Ultimate Edition)
Build #IU-212.5457.46, built on October 12, 2021
Licensed to IntelliJ IDEA Evaluator
Expiration date: November 12, 2021
Runtime version: 11.0.12+7-b1504.40 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 762M
Cores: 8
Non-Bundled Plugins: monokai-pro (1.5), lermitage.intellij.extra.

[2021-11-05 20:22] franciscomarin98 opened #77 "Regex Bug"
Hello how things are going I tell you that I am trying to add icons to the jsconfig and tsconfig files but for some strange reason I am not getting the expected result. For this I am using regex.

These are the regex:
[code]

![image](https://user-images.githubusercontent.com/50973629/140573305-aed9b713-37b0-4524-9e8a-261ad7bfcb5e.png)
![image](https://user-images.githubusercontent.com/50973629/14

[2021-11-06 12:44] jonathanlermitage commented on #77
@franciscomarin98 thx for this report. Actually, it's a bit weird: the plugin gets the file name (`.tsconfig.json`), then we can apply a filter on this. But, sometimes, we get a relative path, something like `myproject/.tsconfig.json`.
As a workaround, you can add a leading `.*/`:
[code]

I will try to fix that, this issue is annoying and totally random :-D

[2021-11-06 13:42] #77 closed

[2021-11-21 16:41] Javaru commented on #73
I also got the exception reported above and in #67, reported as "Exception in plugin "Extra Icons". Shortly after I got the below similar exception reported as an "Exception in FreeMarker" plugin. I did report it to JetBrains via the Error Report Submitter. But I thought I'd post the info here in case you want to followup with JetBrains. (I did not look to see how similar the exceptions' stacktrac

[2021-12-02 14:26] sajid-1114 opened #79 "env file icons does not work for files ending with .env (e.g. - dev.env, staging.env, production.env)"
The icon works if the naming convention starts with .env, e.g. - .env.dev, .env.staging, .env.production
but it does not work for files ending with .env, e.g. - dev.env, staging.env, production.env

[2021-12-03 23:39] #79 closed

[2022-01-01 20:11] jonathanlermitage commented on #73
@IWareQ @Javaru are you still experiencing this issue with IntelliJ 2021.3.1?

[2022-01-02 05:53] IWareQ commented on #73
No

[2022-01-02 15:38] Javaru commented on #73
No. I've been running the EAPs, and this issue went away with the reported JetBrains issue's fix.

[2022-01-02 16:56] jonathanlermitage commented on #73
Thx!

[2022-01-02 16:56] #73 closed

[2022-01-31 07:34] tahesse opened #81 "Extra icons plugin fails to distinguish between Angular and NestJS icons"
## Issues

Please describe the issue:

* the plugin version
  * 1.69.3.203
* the OS and IDE version. Open your IDE and go to <kbd>Help</kbd>, <kbd>About</kbd>, then <kbd>Copy</kbd>

[code]

* the stacktrace, if any in the event log (in the bottom-right corner of your IDE)
  * None
* any useful information
  * None

[2022-02-01 23:25] jonathanlermitage commented on #81
@tahesse Can you please provide a screenshot, or file names with expected and actual icons? Thx!

[2022-02-12 06:27] lcdennison opened #84 "User-provided SVG not displaying in editor"
I'm experiencing a strange issue in PhpStorm 2021.3.1 (plugin version 1.69.3.203). My primary OS is Windows 10, but I use Ubuntu through Windows Subsystem for Linux (WSL). PhpStorm is installed in the WSL filesystem and graphical interface is provided to Windows through X11. Everything works fine, except these custom icons.

When I configure a user-provided icon in settings, everything appears to

[2022-02-12 21:26] jonathanlermitage commented on #84
Thx for this report!
This issue may be caused by https://github.com/jonathanlermitage/intellij-extra-icons-plugin/blob/ide203/src/main/java/lermitage/intellij/extra/icons/ExtraIconPatcher.java#L97
The IDE icon patcher ([IconPathPatcher) ](https://github.com/JetBrains/intellij-community/blob/master/platform/util/src/com/intellij/openapi/util/IconPathPatcher.java)works with icons from the classpath.

[2022-02-13 04:48] lcdennison commented on #84
@jonathanlermitage Sure. Here's the new message:
[code]

So it looks like the path is correct. That file exists in the WSL filesystem at `/tmp/extra-icons-ide-user-icon1428773998666350403.svg`

Could it be permissions? The file is written with 600 permissions. I tried using PhpStorm launched as root, and that didn't work either. As far as I can see, PhpStorm IS running as root, but maybe it's down

[2022-02-16 01:56] SiteDesignUSA opened #86 "Stacktrace from jetbrains"
## Issues

Please describe the issue:

Jetbrains threw an error

* 1.67.0.203 → 1.69.3.203
* Windows 10 , PhpStorm 2021.3, Build #PS-213.5744.279, built on December 2, 2021
* PhpStorm 2021.3
Build #PS-213.5744.279, built on December 2, 2021
Runtime version: 11.0.13+7-b1751.19 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 2

[2022-02-17 04:27] #86 closed

[2022-03-12 01:14] mofada opened #88 ".prettierrc.yml not correctly identified"
![image](https://user-images.githubusercontent.com/22286246/157997588-9a3f6b26-ddad-4d62-a70a-20f92153e111.png)

[2022-03-12 02:24] jonathanlermitage commented on #88
Fox now, only `.prettierrc` is supported. I will add support for `.prettierrc.yml` too.

[2022-03-12 03:03] mofada commented on #88
https://prettier.io/docs/en/configuration.html

![image](https://user-images.githubusercontent.com/22286246/158001269-72ac0d3b-5226-4579-85f5-b1ce33a376d4.png)

[2022-03-12 23:00] jonathanlermitage commented on #88
Fixed. It will be part of the 2022.1.2 release.

[2022-03-12 23:00] #88 closed

[2022-03-20 13:41] HuiiBuh opened #89 "Offering a one time payment"
Hi as a developer how maintains an open source chrome extension for quite a lot of people, I totally understand and support your decision to make this plugin a played plugin.
But I *really* hate subscriptions. Is there any way that you could offer the options to send you a one time payment (obviously more than 5$) in order to get access to the extension.

[2022-03-20 16:55] jonathanlermitage commented on #89
Hi @HuiiBuh!
I rely on the subscription model offered by JetBrains. Unfortunately, there is no option to buy lifetime licenses. A solution would be to implement my own license server, but I'm not ready to do that: I don't want to handle payments by myself, it's too risky and I have a limited experience on security.
However, I activated the option to offer fallback licenses. That means you can pay

[2022-03-20 16:56] DavidBeh opened #90 "How do I get free access to the plugin as student?"
How do I get free access to the plugin as student?
I verified my student status on Github and linked my Jetbrains Account to Github, thats also how I got access to most Jetbrains products

According to [this](https://plugins.jetbrains.com/plugin/11058-extra-icons#:~:text=time%2C%20and%20it%27s-,free%20for%20students,-%2C%20teachers%20and%20OSS) and [this](https://plugins.jetbrains.com/plugin/11058

[2022-03-20 16:59] jonathanlermitage commented on #90
Hi @DavidBeh!
Please contact JetBrains support directly. I activated the option to offer licenses to students and OSS developers, but I can do nothing for activation issues. This is on the JetBrains side.

[2022-03-20 17:00] jonathanlermitage commented on #90
If JetBrains support can't help, please email me, I will send you some coupons for free licenses. This is a temporary solution, but it should work.

[2022-03-20 17:06] HuiiBuh commented on #89
Hi, I was not aware of the options Jetbrains offers. But this sounds good to...
So thanks for maintaining the plugin and feel free to close the issue if you want to

[2022-03-20 17:07] jonathanlermitage commented on #89
No problem! Thx! 😃

[2022-03-20 17:07] #89 closed

[2022-03-20 17:53] mallowigi opened #91 "Donation Page"
Hi,

Do you have a donation page?

[2022-03-20 17:59] mallowigi commented on #91
Never mind found it.

[2022-03-20 17:59] #91 closed

[2022-03-22 11:29] DavidBeh commented on #90
Thanks for your answer. I already contacted support and got an answer on how to get the plugin as a student. When logged in you need to go to [licenses](https://account.jetbrains.com/licenses) then click _Buy new license_ and select the _Plugins_-Ribbon. From there verified students can get a free license for this Plugin.

[2022-03-31 15:59] tahesse commented on #81
Hey @jonathanlermitage, sorry for the delay on my side!

My angular project looks like this:
![image](https://user-images.githubusercontent.com/13452321/161098488-17fb3abd-2470-44f8-b6c5-748759130065.png)

and my options look like this:
![image](https://user-images.githubusercontent.com/13452321/161098716-c359869b-e43f-4974-a336-dd6d198243ba.png)

[2022-04-15 04:17] francmarin98 opened #93 "The regular expression rule for finished .js and .ts configuration files is overridden by the *.js and *.ts rule"
For some strange reason it seems to bug min with config files ending in .js and .ts.

What I mean is that for some strange reason the regular expression in the configuration files is "ignored". An example is the postcss and tailwind files that I added in the previous version, the added regular expression detects the file but the plugin as it gives more relevance to the *.js rule and does not link

[2022-04-15 04:39] jonathanlermitage commented on #93
Yeah, it's weird. The PostCss  model is defined before TestJavascript, so you should see the PostCss icon. Same thing for Tailwind.
At least, I reproduced this bug. I will investigate.

[2022-04-15 04:48] jonathanlermitage commented on #93
Ho, ok, there is a problem with the regex. `postcss.config.js` matches, but we apply the regex on the file's full path, something like `foo/bar/postcss.config.js`.

[2022-04-15 04:50] jonathanlermitage commented on #93
In `^(\.postcssrc|postcss\.config)(\.[cm]?js|ts|json|ya?ml)?$` we can replace `^` with `.*`. I will fix this asap, and add some documentation.

[2022-04-15 04:59] jonathanlermitage commented on #93
I uploaded a fix: [Extra Icons-2022.1.2.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8493927/Extra.Icons-2022.1.2.zip). It's ok on my machine. Can you make a try?
Thx!

[2022-04-15 13:53] francmarin98 commented on #93
I have done the tests and now it works correctly. I'll take into account structuring the regular expression for the next collaboration.

![image](https://user-images.githubusercontent.com/50973629/163578851-d4c18099-b936-4162-8b32-aba717a65d4f.png)

By the way, not that I want to spam but I also want to share that I have created a theme for the IDEs, it is called Moonlight Theme.

[2022-04-15 20:09] #93 closed

[2022-04-17 10:30] lcdennison commented on #84
@jonathanlermitage This issue seems to be resolved now. I'm not sure exactly when it happened as I just recently updated the plugin. I also coincidentally upgraded to 2022.1. Regardless, it's solved for me. Thanks for the work!

[2022-04-17 13:47] jonathanlermitage commented on #84
Thx for your feedback! 👍

[2022-04-17 13:47] #84 closed

[2022-04-22 05:08] tahesse commented on #81
@jonathanlermitage Any updates on this issue?

[2022-04-22 15:43] jonathanlermitage commented on #81
@tahesse I think this is expected behavior.
If you work with Angular and mostly NestJS projects, you can probably proceed this way:
- update the Extra Icons settings at IDE level and disable Angular icons (you already do this)
- then, on Angular projects, enable the Extra Icons settings at Project level, enable Angular icons, and don't forget to check "Override IDE settings"
![config](https://user

[2022-04-22 22:09] jonathanlermitage commented on #81
woops, `Angular (in Angular 2+...)` icons has lowest priority. I will fix that.

[2022-04-24 10:35] tahesse commented on #81
@jonathanlermitage Can't you check if there is an angular.json in the project? And in case there is one, show the angular icons and if not, show the nestjs ones?

[2022-04-24 12:32] jonathanlermitage commented on #81
@tahesse Sure!
I have a limited experience with Angular -> if my understanding is correct, modern Angular projects always have a `angular.json` file? I thought Angular was declared in a `packages.json` file only, but last time I worked with Angular it was Angular 1.2 or 1.3, something like that 😅, I'm totally lost now.

[2022-04-24 14:24] tahesse commented on #81
Things changed. Angular consistently has an angular.json in the root folder (to the best of my knowledge). Angular version is at 13 now.

[2022-04-29 07:27] rala72 opened #94 "dockerfile icon large in run config"
## Issues

Please describe the issue:

* the plugin version: 2022.1.2 _(see also in the list below)_
* the OS and IDE version. Open your IDE and go to <kbd>Help</kbd>, <kbd>About</kbd>, then <kbd>Copy</kbd>

Build #IU-221.5080.210, built on April 12, 2022

VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 4096M
Cores: 12
Non-Bundled

[2022-04-29 11:59] jonathanlermitage commented on #94
Hi @rala72 !
This is fixed, but not yet published. Can you try this release:
[Extra Icons-2022.1.2.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8590535/Extra.Icons-2022.1.2.zip)? Thx!

I think there's a bug in IntelliJ 2022: SVG icons are rendered correctly in the menus and toolbars, not PNG icons.
The Docker icon was a PNG file, that's why the icon was too large. I

[2022-05-03 14:19] #94 closed

[2022-05-08 03:19] jonathanlermitage commented on #81
Fixed. Published 2022.1.3 release.

[2022-05-08 03:19] #81 closed

[2022-05-18 15:54] Chris85hh opened #96 "Angular Icons Not Work with Attached Angular Project"
I am using Rider and have attached an angular project as a folder.
In the angular project the icon works wrong.
angular.json is located in the root of the attached folder
the plugin version: 2022.1.3
![image](https://user-images.githubusercontent.com/27524484/169082690-2de1cfaf-a7b3-43f9-8039-946d5deb8777.png)

a downgrade of plugin version 2022.1.2 works perfectly
![image](https://user-images.git

[2022-05-21 00:48] jonathanlermitage commented on #96
I reverted a regression from previous release.
@Chris85hh can you please try this release?
[Extra Icons-2022.1.3.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8746048/Extra.Icons-2022.1.3.zip)
Thx!

[2022-06-01 23:26] jonathanlermitage commented on #96
Hi @Chris85hh ! Can you please try this new release? Thx!
[Extra Icons-2022.1.4.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8819342/Extra.Icons-2022.1.4.zip)

This time it looks for `angular.json` files in the root directory and in sub-directories (first level only, it's not recursive for now: I will try to use JetBrains APIs in order to find `angular.json` everywhe

[2022-06-01 23:27] jonathanlermitage commented on #96
Hi @Chris85hh ! Can you please try this new release? Thx!
[Extra Icons-2022.1.3.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8819358/Extra.Icons-2022.1.3.zip)

This time it looks for `angular.json` files in the root directory and in sub-directories (first level only, it's not recursive for now: I will try to use JetBrains APIs in order to find `angular.json` everywhe

[2022-06-01 23:32] jonathanlermitage commented on #96
Damned, please ignore my comments, the release doesn't work correctly. I will delete my comments later, for now Github seems buggy :-p

[2022-06-02 23:04] jonathanlermitage commented on #96
Thx for your test!
@Chris85hh I tried your sample project (it's very useful, thx!) with Rider and I reproduced the bug. I see that the `Frontend` folder is not part of the project, it's only "attached". The JetBrains API says the project is in `backend\WebApplication1`, and this is why I can't find the `angular.json` file: I search in the _project_ folder only, not in the _attached_ folder. I will

[2022-06-02 23:13] jonathanlermitage commented on #96
@Chris85hh the `indexLayout.xml` file seems interesting. Do you see this file too? `.idea/.idea.WebApplication1/.idea/indexLayout.xml`.
For me, it contains:
[code]
I could parse this file in order to detect the project base path.

[2022-06-02 23:57] Chris85hh commented on #96
gladly, thanks that you put so much effort into the bug.

yes, i see the file too, with the same content.
but the path to the file is composed of the project name (WebApplication1)

[2022-06-03 04:53] jonathanlermitage commented on #96
Finally I found an API that lists all attached folders. @Chris85hh  Can you please try again a new release? 😁
[Extra Icons-2022.1.3.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8829580/Extra.Icons-2022.1.3.zip)

It seems to work now:
![Untitled](https://user-images.githubusercontent.com/857535/171788165-004dfb09-2094-40e4-9b50-3362153a0ef4.png)

[2022-06-03 08:04] Chris85hh commented on #96
Thank you, that works well.

[2022-06-03 21:20] #96 closed

[2022-06-05 20:03] bk-tfo opened #98 "Incompatibility with new UI?"
Is the plugin not compatible with the new UI release from Jetbrains? The icons appear just fine, its just what whenever you click on any icon, you get this stack trace.

Plugin version `1.20.0.201`

I tried this in GoLand `2022.2 EAP`, but I get the same in other IDEs.

Full Version:

Build #GO-222.2889.12, built on June 2, 2022
Licensed to GoLand EAP user: Burhan Khalid
Expiration date: July 2, 2

[2022-06-05 20:28] jonathanlermitage commented on #98
@bk-tfo Please copy this issue to https://github.com/jonathanlermitage/intellij-extra-toolwindow-colorful-icons/issues
`Extra Icons` is compatible with the new UI, but `Extra ToolWindow Colorful Icons` (aka `ExtraTCI`) is broken.

[2022-06-05 21:12] jonathanlermitage commented on #98
Actually, it's weird because Extra Icons should be impacted too, but it's not.
I just applied the fix to ExtraTCI and Extra Icons, this way I'm sure both plugins will work with the new UI.
[Extra Toolwindow Colorful Icons-1.20.0.201.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8840769/Extra.Toolwindow.Colorful.Icons-1.20.0.201.zip)
[Extra Icons-2022.1.4.zip](https://

[2022-06-05 21:13] #98 closed

[2022-06-05 21:46] jonathanlermitage commented on #98
Fox ExtraTCI:

I tried to log the new icon names, and they all start with "/expui/".
Unfortunately https://jetbrains.design/intellij/resources/icons_list/ is not up to date, and I won't look at the icons one by one (it's so much time consuming, and these icons may not be definitive. The new UI may come next year). I will look at the new icons once JetBrains has updated this documentation.
So, for

[2022-06-06 04:44] bk-tfo commented on #98
Thanks for looking into this, is there a guide to update the icon paths that would help me? I can get started on a PR.

[2022-06-07 04:56] jonathanlermitage commented on #98
Sure:
- the `ExtraToolWindowIconsPatcher` class is responsible of icons patching. The "path" input parameter is the name of the IDE icon you want to patch. You can log IDE icon names here: https://github.com/jonathanlermitage/intellij-extra-toolwindow-colorful-icons/blob/main/src/main/java/lermitage/intellij/extratci/ExtraToolWindowIconsPatcher.java#L154. You will see that some icon names now star

[2022-06-07 05:48] jonathanlermitage commented on #98
I think we can also take a look at https://github.com/JetBrains/intellij-community/search?q=expui. The new theme and (al least some of) its icons seem to be here.

[2022-06-14 03:40] jmatias opened #99 "Enabling Extra Icons freezes the IDE."
## Issues

The IDEA becomes completely unresponsive.

![image](https://user-images.githubusercontent.com/1302269/173488507-0d761e5e-d3f9-42d8-a5ac-486a26f61bae.png)

[report.txt](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8896113/report.txt)

[threadDump-20220613-225215.txt](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8896137/threadDump-202206

[2022-06-14 03:49] jmatias commented on #99
Update: Disabling all Angular icons seems to be resolve the issue.

![image](https://user-images.githubusercontent.com/1302269/173489492-f133f79c-ef20-4be1-8f10-96ae491e5ee3.png)

[2022-06-14 03:56] jonathanlermitage commented on #99
Thx for your report!
The Angular support looks for angular.json files in the project, but it seems to spend too much time. Some well-known big folders are excluded, like `node_modules/`, `out/` etc, but it could be improved.
I will publish a patch asap in order to add a time limiter (something like 500ms, it should be fast, otherwise this is not normal), and I will investigate on this issue.

[2022-06-14 04:03] jonathanlermitage commented on #99
@jmatias Also, could you please send the IDE log file? (Help > Show Logs in Explorer > `idea.log`)
You should see a line like `Will scan these folders for angular.json files: [ a list of folder paths ]`. This list would be interesting. It should contain the project's path, and any "attached" folder.
Thx!

[2022-06-14 05:09] jonathanlermitage commented on #99
Added a time limiter (500ms). If we reach this limit, we cancel the search and we simply look for an `angular.json` file at project's base path only.
Can you please try this build?
[Extra Icons-2022.1.4.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8896553/Extra.Icons-2022.1.4.zip)
Thx!

[2022-06-15 00:32] jmatias commented on #99
I did a quick search for those strings and couldn't find anything. I can give your build a try though.

![image](https://user-images.githubusercontent.com/1302269/173711627-f2a89cb4-fad9-4759-806a-c515e094fdfb.png)

[2022-06-15 01:53] jmatias commented on #99
New seems to work fine

[2022-06-15 03:43] jonathanlermitage commented on #99
Thx! I will publish this release asap.
For the logs, you should see an `idea.log` file. Otherwise, you can go to `Help` > `Collect Logs and Diagnostic Data`. It will produce a zip file with the log files: `idea.log` (and previous logs like `idea.1.log`, `idea.2.log`, etc) files, `troubleshooting.txt`, etc.

[2022-06-15 04:09] jonathanlermitage commented on #99
Wooohoohoo 🥳, please don't waste time with the log files. Finally, I found a way to find `angular.json` files with the IntelliJ SDK, it's super fast and it should be totally safe (it uses the project's files index generated by the IDE).
I just submitted the 2022.1.5 release with the fix, and I will integrate improvements in the 2022.1.6 release.

[2022-06-15 04:23] jmatias commented on #99
Happy to help

[2022-06-15 04:44] #99 closed

[2022-06-25 10:08] lcdennison opened #100 "Add buttons to allow reordering of entries in the User Icons list"
This is either a feature request, or a help thread because I don't know what I'm doing. Put simply, I'd like to be able to re-order the icons on the User Icons list (`Settings -> Appearance & Behavior -> Extra Icons -> User Icons tab`). I don't see any way of doing this in the UI currently. It seems they are ordered in whatever way I add them. (So I can manually re-order them by re-adding them.)

[2022-06-25 19:06] jonathanlermitage commented on #100
Good idea! I will try to implement this for the 2022.1.6 release.

[2022-06-25 22:46] jonathanlermitage commented on #100
@lcdennison can you please try this release?
[Extra Icons-2022.1.6.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8985680/Extra.Icons-2022.1.6.zip)

I implemented the Move Up and Move Down buttons.

[2022-06-26 21:49] jonathanlermitage commented on #100
Implemented.
@lcdennison can you please try this build?
[Extra Icons-2022.1.6.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/8987572/Extra.Icons-2022.1.6.zip)
Thx!

[2022-07-05 03:20] #100 closed

[2022-07-24 22:51] Serial-ATA commented on #66
Hey @jonathanlermitage, have you looked into this? It looks like this might not be possible: https://github.com/mallowigi/a-file-icon-idea/issues/146#issuecomment-766297286.

[2022-08-03 06:37] 0x1301FDF opened #106 "crash on idea 2022.2"
crash on every idea 2022.2(old UI,not new) startup. Plugin version 2022.1.7

java.lang.Throwable: Assertion failed
	at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:220)
	at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:229)
	at com.intellij.openapi.vfs.newvfs.impl.VirtualDirectoryImpl.doFindChildById(VirtualDirectoryImpl.java:558)
	at com.intellij.openapi.vfs.newvf

[2022-08-03 23:41] jonathanlermitage commented on #106
@0x1301FDF  Can you go to `Help` > `Collect Logs and Diagnostic Data`, and post files.
Same thing for `Help` > `About` > `Copy`.
I can't reproduce for now, but the log files and the IDE infos (list of installed plugins, etc) would help me to reproduce this issue. Thx!

[2022-08-04 14:40] jonathanlermitage commented on #106
It seems to be a problem with the file index generated by the IDE. Could you please try to clear the file system cache and Local History? (`File` > `Invalidate Caches...`).

[2022-08-04 15:14] jonathanlermitage commented on #106
Can you also try this build?
[Extra Icons-2022.1.7.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/9260900/Extra.Icons-2022.1.7.zip)
Exception now displays a notification only, and the plugin should not crash anymore.

[2022-08-04 15:25] jonathanlermitage commented on #106
Can you also try this build?
[Extra Icons-2022.1.7.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/9260971/Extra.Icons-2022.1.7.zip)

Exception now displays a notification only, and the plugin should not crash anymore.

[2022-08-06 01:04] jonathanlermitage commented on #106
Nota: I think there is already an issue in IJ bugtracker: https://youtrack.jetbrains.com/issue/IDEA-291382/Assertion-failed-at-VirtualDirectoryImpldoFindChildById

[2022-08-08 03:16] 0x1301FDF commented on #106
yeah, after i clear the cache, it seems no longer crash again, thanks!

[2022-08-08 03:16] #106 closed

[2022-08-11 06:13] raubv0gel opened #108 "com.intellij.diagnostic.PluginException"
IntelliJ Ultimate latest version, Extra Icons latest version.

[code]

[2022-08-11 18:02] jonathanlermitage commented on #108
@raubv0gel Can you go to `Help` > `Collect Logs and Diagnostic Data`, and post files.
Same thing for `Help` > `About` > `Copy`.
Thx!

[2022-08-15 07:04] zem558 opened #109 "启动idea2022.2，弹窗提示警告"
Failed to query IDE filename index. This feature won't work: Helm icons. If this is the first time you see this message, and if you really need these features, please restart your IDE. If it doesn't help, try to clear the file system cache and Local History (go to File, Invalidate Caches...).  To disable this notification, please go to File, Settings..., Extra Icons, and check Ignore plugin's warn

[2022-08-15 12:45] jonathanlermitage commented on #109
This is a JetBrains issue. I just catched the error in order to avoid a plugin's crash.
You can go to Extra Icons options to disable this notification.

[2022-08-15 12:45] #109 closed

[2022-08-20 21:42] #108 closed

[2022-08-20 21:44] jonathanlermitage commented on #108
Unfortunately I can' reproduce this issue, and I can do nothing without the requested info. Will re-open if we get more data.

[2022-09-07 22:31] jonathanlermitage opened #110 "feat: a way of testing the conditions for custom icons against a list of filenames"
From comment https://plugins.jetbrains.com/plugin/11058-extra-icons/reviews#review=71619

[2022-09-08 05:05] AlexPl292 opened #111 "Slow operations are prohibited on EDT"
[code]

IJ version: IU-222.4167.21
Plugin version: 2022.1.10
MacOS

## Issues

Please describe the issue:

* the **plugin version**
* the **OS and IDE version**. Open your IDE and go to <kbd>Help</kbd>, <kbd>About</kbd>, then <kbd>Copy</kbd>
* the **IDE logs**. Open your IDE and go to <kbd>Help</kbd>, <kbd>Collect Logs and Diagnostic Data</kbd>, then attach files
* the **stacktrace**, if any
* any

[2022-09-15 06:06] jonathanlermitage commented on #106
Found a workaround 🎉thx Andreas Perhab comment https://youtrack.jetbrains.com/issue/IDEA-291382/Assertion-failed-at-VirtualDirectoryImpldoFindChildById#focus=Comments-27-6445738.0-0

[2022-09-15 06:08] jonathanlermitage commented on #111
Will be fixed in next release. This issue was caused by a workaround for IDE filename index issues.

[2022-09-16 05:34] #111 closed

[2022-09-16 05:35] jonathanlermitage commented on #110
Implemented in next release

[2022-09-16 05:35] #110 closed

[2022-10-15 22:51] jonathanlermitage opened #113 "can't load custom icons from local drive"
Register an icon from the local drive (no bundled icon). We get this exception:
[code]
The temporary file (generated from the base64 encoded file stored in config) exists but the path is no longer valid on Windows. Probably an issue with the leading `\\`.

[2022-10-15 23:58] #113 closed

[2022-10-23 04:40] jonathanlermitage commented on #66
It's too complicated, and I lack of free time. I give up 😥

[2022-10-23 04:40] #66 closed

[2022-11-17 19:17] rubensrocha opened #114 "PHPStorm freezes for a few seconds several times"
* Plugin version: 2022.1.13
* OS: Linux Mint 21
* IDE Version: 2022.2.3  Build #PS-222.4345.15, built on October 5, 2022

IDE freezes for a few seconds several times in a row, either when I click on a part of the code to do some editing, or when I switch between open files, or scroll through the list of files to open a new file for editing.

I've already used the Repair IDE option, and also set An

[2022-11-17 23:02] jonathanlermitage commented on #114
@rubensrocha
It may be a problem with the usage of the IDE filename index.
The plugin uses the IDE filename index in order to detect some files, but it's a bit broken since 2022 IDEs (we can't simply query the index, this is annoying 😅), and plugin developers have to use some workarounds. It should be reworked next year, but for now I think we can simply disable the usage of these indexes. You wil

[2022-11-17 23:34] jonathanlermitage commented on #114
ho, another question: did you define some custom user icons in Extra Icons?
I recently upgraded a dependency (TwelveMonkeys, used to load some user icons), and some recent builds were affected by bugs leading to high CPU usage. If the new build of Extra Icons doesn't fix the problem, and if you defined some user icons, I will simply revert TwelveMonkeys to an older release.

[2022-11-17 23:49] rubensrocha commented on #114
Keeps freezing. I sent the logs to your email, I don't know if it's a problem to post here or not.

I haven't made any changes to the default configuration.

[2022-11-17 23:55] jonathanlermitage commented on #114
No problem, this ok, and the log files are very helpful, thx 😎. Logs does not contain sensitive data.
I am reading the log files and I will let you know if I found something.

[2022-11-18 04:30] jonathanlermitage commented on #114
@rubensrocha
Can you please try this new release: [Extra Icons-2022.1.13.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/10037710/Extra.Icons-2022.1.13.zip)
 Thx!

The logs seem to say there is a problem with a JetBrains API used to detect Angular project. Or, I'm using it the wrong way.
I detect Angular projects in two ways:
- by using the IDE filename index, in order

[2022-11-18 12:33] rubensrocha commented on #114
The frequency has decreased, but it continues to happen.

[phpstorm-logs-20221118-09292916377727654903165790.zip](https://github.com/jonathanlermitage/intellij-extra-icons-plugin/files/10041224/phpstorm-logs-20221118-09292916377727654903165790.zip)

[2022-11-18 22:21] jonathanlermitage commented on #114
Can you please try to disable the Angular plugin?

I looked at the latest thread-dump and there is no reference to Extra Icons.
I also checked IntelliJ 2022.3 RC's [changelog](https://youtrack.jetbrains.com/articles/IDEA-A-2100661402/IntelliJ-IDEA-2022.3-RC-223.7571.58-build-Release-Notes?utm_source=product&utm_medium=link&utm_campaign=TBA) and I found something interesting: [ Angular: High CPU us